<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vaccine Registration System - New Vaccine</title>
   <!-- <link rel="icon" href="./images/Icon.png"> -->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/61968f357f.js" crossorigin="anonymous"></script>
</head>

<body>
   <!-- Navigation Bar -->
   <nav id="menu" class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
         <!-- <img src="/images/Icon.png" class="d-inline-block align-top nav-img" alt="Vaccine Registration System"> -->
         Vaccine Vacinaton System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="">Signed In as "<%= currentUser.Email%>"</a>
             </li>
             <li class="nav-item">
               <a class="nav-link btn btn-outline-secondary my-2 my-sm-0" href="/logout">Logout</a>
             </li>
         </ul>
      </div>
   </nav>

   <br class="mb-5"><br class="mb-5"><br class="mb-5">
   <div class="container">
   <% if(error && error.length > 0) { %>
   <div class="alert alert-danger" role="alert">
     <%=error%>
   </div>
     <% } else if (success && success.length > 0) { %>
   <div class="alert alert-success" role="alert">
     <%=success%>
   </div>
      <% } %>
   </div>

   <section id="form">
      <div class="container mt-4">
         <div class="row justify-content-center">
             <div class="col border p-2 col-11 col-sm-10 col-md-9 col-lg-7">
                 <h1 class="mb-4 text-center">Add new Vaccine to Database</h1>
                 <form action="/vaccines" method="POST" class="mb-2">
                     <div class="form-group">
                         <label><span class="text-danger">*</span> Vaccine Name</label>
                         <input class="form-control" type="text" name="vaccinename" placeholder="Davidson" required>
                     </div>
                     <div class="form-group">
                        <label><span class="text-danger">*</span> Advisory</label>
                        <input class="form-control" type="text" name="advisory" placeholder="2 doses, 1 after another" required>
                    </div>
                    <div class="form-group">
                     <label><span class="text-danger"></span> Image URL</label>
                     <input class="form-control" type="text" name="image" placeholder="https://g.foolcdn.com/editorial/images/618803/coronavirus-vaccine-bottles.jpg">
                 </div>
                     <div class="form-group">
                        <label><span class="text-danger">*</span> Description</label>
                        <textarea class="form-control" rows="5" name="description" placeholder="Vaccine for [insert disease name here], ..." required></textarea>
                    </div>

                     <button type="submit" class="btn btn-primary" id="orange-btn">Submit</button>
                 </form>
             </div>
         </div>
     </div>
   </section>

</body>

</html>