<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vaccine Registration System - User Dashboard</title>
   <link rel="icon" href="/images/icon.png">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/61968f357f.js" crossorigin="anonymous"></script>
</head>

<body>
   <!-- Navigation Bar -->
   <nav id="menu" class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">
         <!-- <img src="/images/Icon.png" class="d-inline-block align-top nav-img" alt="Vaccine Registration System"> -->
         Vaccine Vacinaton System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-2">
               <a class="nav-link btn btn-outline-secondary my-2 my-sm-0"  href="/">Back to Homepage</a>
            </li>
         </ul>
      </div>
   </nav>

   <br class="mb-5"><br class="mb-5"><br class="mb-5">
   <div class="container">
   <% if(error && error.length > 0) { %>
   <div class="alert alert-danger" role="alert">
     <%=error%>
   </div>
     <% } else if (success && success.length > 0) { %>
   <div class="alert alert-success" role="alert">
     <%=success%>
   </div>
      <% } %>
   </div>


   <section id="overview">
      <div class="container">
         <h1 class="font-weight-bold text-center">Hello <%= currentUser.FName %>, welcome to your user dashboard</h1>
      </div>
   </section>

   <div class="my-2 py-2"> </div>
   
   <section id="content">
      <div id="header-image" class="row justify-content-center align-items-center">
         <div class="col-11 col-sm-10 col-md-9 col-lg-8 col-xl-6 mb-4">
            <div class="text-center">
               <img class="img-fluid" src="/images/user.jpg" alt="">
             </div> 
         </div>
      </div>

   <section id="button">
      <div class="container justify-content-center">
         <div class="row justify-content-around">
            <div class="col-12">
               <!-- Button trigger modal -->
               <button type="button" class="d-block nav-link btn btn-outline-danger my-2 mx-auto" data-toggle="modal" data-target="#exampleModal">
                  View my Priority Score
               </button>
            </div>
         </div>

         <div class="row justify-content-around">
            <!-- <div class="col-12 col-md-6">
               <a class="nav-link btn btn-outline-secondary my-2" id="teal-btn" href="/user/bookAppointment">Book Appointments</a>
            </div> -->
            <!-- <div class="col-12 col-md-6">
               <a class="nav-link btn btn-outline-secondary my-2" id="teal-btn" href="/user/edit"> Edit Address</a>
            </div> -->
            <div class="col-12 col-md-6">
               <a class="nav-link btn btn-outline-primary my-2" id="orange-btn" href="/user/appointments">View my Appointments </a>
            </div>
            <!-- <div class="col-12 col-md-6">
               <a class="nav-link btn btn-outline-primary my-2" href="/vaccine">View all Vaccines</a>
            </div>
            <div class="col-12 col-md-6">
               <a class="nav-link btn btn-outline-secondary my-2" id="teal-btn" href="/user/clinics">View All Clinics</a>
            </div> -->
         </div>
      </div>
   </section>

   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your Priority Score is: (higher score, the higher priority for vaccination)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <%= priorityscore %>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
      </div>
   </div>


   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>